__pycache__/
*.py[cod]
*$py.class
.env
*.egg-info/
dist/
build/
.venv/
venv/
*.pem
*-service-account*.json
firebase-adminsdk*.json
.pytest_cache/
*.so
.Python
.eggs/
*.egg
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
